[package]
name = "html5ever_nif"
version = "0.1.0"
authors = ["HansiHE <hansihe@hansihe.com>"]
edition = "2018"

[lib]
name = "html5ever_nif"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
rustler = "0.26.0"

html5ever = "0.26"
markup5ever = "0.11"

tendril = "0.4"
lazy_static = "1.4"
scoped-pool = "1.0"

